.checkout{
    display: flex;
    height: max-content;
}

.checkoutad{
    width: 100%;
    height: 100px;
}

.checkouttitle{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
    justify-content: flex-start;
}
