.login_div{
    justify-content: center;
    display: flex;
    padding: 200px;
    flex:1;
    align-items: center;
    flex-direction: column;
}

/* .logo_div{
    
} */

.login_box{
    border: 2px solid lightgray;
   padding-right: 20px;
   padding-left: 20px;
   padding-bottom: 20px;

}

.input_div{
    font-size: small;
    flex: 1;
    margin:20px ;
}
.input_div > input{
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    width: 100%;
    height: 30px;
}

.login_box > p{
    font-weight: lighter;
} 


.signin_button{
    width: 100%;
    margin-right: 10px;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    height: 30px;
}

.newacc_button{
    width: 100%;
    height: 30px;
}
